<div class="game_play_full"> 
    <div class="game_play_containers"> 
        <div class="game_details_containers">
            <button id="click" type="button" class="game_details_break">Date: <%= Date.today.strftime("%m-%d-%y") %></button>
        </div>
        <% if @game.levels[@count-2].break == true %>
            <div class="game_details_containers">
                <div class="hidden"><%= @game.levels[@count-1].break_length %> Minute Break</div>
                <br>
                <div class="hidden">After This Level</div>
            </div>  
        <% else %>
            <% count = @count %>
            <% until @game.levels[count-1].nil? || @game.levels[count-1].break == true %>
                <% count += 1 %>
            <% end %>
            <% if @game.levels[count-1].nil? %>
                <div class='game_details_containers'>
                    <div class="hidden">No More Breaks</div>
                    <br>
                    <div class="hidden">Level <%= count  %></div>
                </div>
            <% else %>
                <div class='game_details_containers'>
                    <div class="game_details_break">Break After</div>
                    <br>
                    <div class="game_details_break">Level <%= count  %></div>
                </div>
            <% end %>
        <% end %>
        <div class="game_details_containers">
            <div class="hidden">Current Blinds</div>
            <br>
            <div class="hidden"><%= @game.levels[@count-1].sb %>   -    <%= @game.levels[@count-1].bb %></div>
            <br>
            <% if @game.levels[@count-1].ante != "0" %>
                <div class="hidden">Ante: <%= @game.levels[@count-1].ante %></div>
            <% end %>
        </div> 
    </div>
    <div class="game_play_containers"> 
        <div class="round_break">Break</div>
        <div id="countdown" class="timer_break"></div>
        <div class="game_details_containers">
            <div class="next_blinds_title_break">Next Blinds</div>
            <br>
            <div class="next_blinds_break"><%= add_commas(@game.levels[@count-1].sb) %>   -    <%= add_commas(@game.levels[@count-1].bb) %></div>
            <% if @game.levels[@count].ante != "0" %>
                <div class="next_blinds_break">Ante: <%= @game.levels[@count-1].ante %></div>
            <% end %>
        </div>
    </div>
    <div class="game_play_containers"> 
        <div class="game_details_containers">
            <div class="game_details_break">Buy-in: $<%= @game.buy_in %></div>
            <div class="game_details_break">Players: 10 / Rebuys: 0</div>
        </div>
        
        <div class="game_details_containers">
            <div class="game_details_break">Payouts</div>
            <br>
            <div class="game_details_break">1st: 50%</div>
            <div class="game_details_break">2nd: 30%</div>
            <div class="game_details_break">3rd: 15%</div>
            <div class="game_details_break">4th: 5%</div>
        </div>
    </div>
</div>
<script>
    <% if @count <= @game.levels.count %> 
        let startingMinutes = 10;
        let time = startingMinutes * 60;
        const count = <%= @count %>
        let countdownEl = document.getElementById('countdown');
        
        var myTimer = setInterval(updateCountdown, 1000);
        
        function updateCountdown() {
            if (time >= 0) {
                const minutes = Math.floor(time / 60);
                let seconds = time % 60;
            
                seconds = seconds < 10 ? '0' + seconds : seconds;
            
                countdownEl.innerHTML = `${minutes}:${seconds}`;
                time--;
            } else {
                window.location.href = window.location.pathname.slice(0,-6)
            }
        };
    <% end %>
</script>
