<div class='game_show_page_container'> 
    <div class='single_game_header'> Game Details </div>
    <div class='game_show_containers'> 
        <div class='game_show_single_container'> 
            <div class='underline pl-16'>Buy In</div>
            <div class='pl-16'><%= add_dollar_sign(@game.buy_in) %></div>
        </div>
        <div class='game_show_single_container'> 
            <div class='underline'>Starting Stack</div>
            <div class=''><%= add_commas(@game.starting_stack) %></div>
        </div>
        <div class='game_show_single_container'> 
            <div class='underline'>Players</div>
            <div class=''><%= 10 %></div>
        </div>
        <div class='game_show_single_container'> 
            <div class='underline'>Places Paid</div>
            <div class=''><%= @game.places_paid %></div>
        </div>
        <div class='game_show_single_container'> 
            <div class='underline'>Knockout Tournament?</div>
            <% if @game.knockouts == true %>
                <div class=''>Yes</div>
            <% else %>
                <div class=''>No</div>
            <% end %>
        </div>
        <%= link_to edit_game_path(@game.id) do %>
            <%= heroicon "pencil-square", title: "Edit", type: "outline", class: "single_game_edit_button" %>
        <% end %>
    </div>
    <div class='levels_header'> Blind Structure </div>
    <div class='game_levels_containers'> 
        <div class='game_levels_single_container'> 
            <div class='underline pl-16'>Level</div>
            <% count = 1 %>
            <% @game.level_count.to_i.times do %>
                <div class='pl-16'><%= count %></div>
                <% count += 1 %>
            <% end %>
        </div>
        <div class='game_levels_single_container'> 
            <div class='underline'>Small Blind</div>
            <% count = 0 %>
            <% @game.level_count.to_i.times do %>
                <div><%= @game.levels["#{count}".to_i].sb %></div>
                <% count += 1 %>
            <% end %>
        </div>
        <div class='game_levels_single_container'> 
            <div class='underline'>Big Blind</div>
            <% count = 0 %>
            <% @game.level_count.to_i.times do %>
                <div><%= @game.levels["#{count}".to_i].bb %></div>
                <% count += 1 %>
            <% end %>
        </div>
        <% if @game.levels.first.ante != "0" %>
            <div class='game_levels_single_container'> 
                <div class='underline'>Ante</div>
                <% count = 0 %>
                <% @game.level_count.to_i.times do %>
                    <div><%= @game.levels["#{count}".to_i].ante %></div>
                    <% count += 1 %>
                <% end %>
            </div>
        <% end %>
        <div class='game_levels_single_container'> 
            <div class='underline'>Round Length</div>
            <% count = 0 %>
            <% @game.level_count.to_i.times do %>
                <div><%= @game.levels["#{count}".to_i].length %></div>
                <% count += 1 %>
            <% end %>
        </div>
        <%= link_to edit_single_game_levels_path(@game.id) do %>
            <%= heroicon "pencil-square", title: "Edit", type: "outline", class: "single_game_levels_edit_button" %>
        <% end %>
    </div>
    <div class='players_header'> Players </div>
    <div class='game_players_containers'> 
        <div class='game_players_single_container'>Players</div>
    </div>
    <div class='game_start_container'> 
        <div><%= link_to "Start Game", game_blinds_path(@game.id, 1) %></div>
    </div>
</div>